<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhbvF5a59p4PYCIskWMWBTtVJTKoRSN4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>633608349785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.clementgvs.momentime</string>
	<key>PROJECT_ID</key>
	<string>momentime-main</string>
	<key>STORAGE_BUCKET</key>
	<string>momentime-main.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633608349785:ios:4384305152344b23f5a948</string>
</dict>
</plist>